files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/10_nodejs.sh":
    mode: "000777"
    owner: 'root'
    group: 'root'
    content: |
        #!/usr/bin/env bash

        . /opt/elasticbeanstalk/hooks/common.sh

        set -xe
        EB_NODE_VERSION="v14.17.0"

        file="/etc/elasticbeanstalk/baking_manifest/node_installed_$EB_NODE_VERSION"
        if [ -e $file ]; then
            echo Node.js has already been installed. Skipping installation.
        else
            EB_TARBALL_URL=$(/opt/elasticbeanstalk/bin/get-config container -k tarball_url)
            EB_NODE_INSTALL_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k node_install_dir)

            MACHINE_TYPE=`uname -m`
            if [ "$MACHINE_TYPE" = "x86_64" ]; then
                ARCH=x64
            elif [ "$MACHINE_TYPE" = "i686" ]; then
                ARCH=x86
            else
                echo "Unknown architecture."
                exit 1
            fi

            mkdir -p $EB_NODE_INSTALL_DIR
            curl -L https://nodejs.org/dist/$EB_NODE_VERSION/node-$EB_NODE_VERSION-linux-$ARCH.tar.gz | tar zxf - -C $EB_NODE_INSTALL_DIR
            ln -sf $EB_NODE_INSTALL_DIR/node-$EB_NODE_VERSION-linux-$ARCH/bin/node /usr/bin/
            ln -sf $EB_NODE_INSTALL_DIR/node-$EB_NODE_VERSION-linux-$ARCH/bin/node-waf /usr/bin/
            ln -sf $EB_NODE_INSTALL_DIR/node-$EB_NODE_VERSION-linux-$ARCH/bin/npm /usr/bin/
            echo $(date) >> "/etc/elasticbeanstalk/baking_manifest/node_installed_$EB_NODE_VERSION"

            rm -rf /home/webapp/.npm/
            rm -rf /var/app/ondeck/node_modules/
            npm cache clean --force
            rm -rf /opt/elasticbeanstalk/support/node-install/node-v6*
            rm -rf /opt/elasticbeanstalk/support/node-install/node-v4*
        fi

        mkdir -p /home/webapp
        chown -R webapp:webapp /home/webapp
        mkdir -p /var/app/support/.npm_global
        npm config set prefix /var/app/support/.npm_global
