<div id="page_wrapper">
  <div id="profile_image">
    <img src="https://previews.123rf.com/images/karpenkoilia/karpenkoilia1805/karpenkoilia180500009/102165920-vector-line-web-concept-for-programming-linear-web-banner-learn-to-code-.jpg" alt=""> 
  </div>
    <h1>Selamlaar..</h1>
    <div id="content">
      <p style="text-align:justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Deserunt facilis ullam, dolore omnis assumenda at aperiam tempora?
        Quo quis commodi excepturi porro eum, dolore dolores temporibus aperiam impedit, sequi fugit.
        <br/>
        <br/>
        <br/>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Ea dolorum corporis voluptatem at nam facere, earum tempora quod! 
        Dolor maxime temporibus, vitae quasi quos deleniti perspiciatis fuga sed debitis beatae?
        <br>
        Maecenas gravida libero id elit ullamcorper elementum a sed velit. 
        Nulla id sapien vitae felis pharetra elementum. 
        Fusce id accumsan eros. Sed enim felis, faucibus eget tortor quis, dignissim sollicitudin ex. 
        Duis molestie nec nunc in maximus. 
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        Pellentesque nibh arcu, aliquam in felis ac, finibus mollis nunc. 
        Proin ac nisi non lacus rhoncus ultricies a non magna. 
        Suspendisse maximus maximus augue, nec molestie eros eleifend at. 
        Quisque faucibus nulla eget odio sollicitudin laoreet. 
        Duis eleifend, justo maximus pulvinar semper, ipsum nunc tempus felis, vel egestas nunc eros eu elit. 
        Phasellus mauris nisl, pretium sit amet tristique quis, pulvinar a lacus. 
        Nunc gravida ante ut sollicitudin tempor. 
        Proin erat diam, tempus ac sollicitudin vel, rhoncus eu sem. 
        Integer vehicula non ipsum vitae condimentum.
        <br><br>
        Maecenas mollis vehicula sem, at pellentesque mauris venenatis ut. 
        Integer tincidunt mi nec odio fermentum tempor. 
        Ut accumsan eu ligula id malesuada. Donec tincidunt vel magna iaculis dictum. 
        Donec massa est, finibus ut pellentesque ac, vulputate non quam. 

      </p>
    </div>
  </div>
