<div style="height: 100%;
background-size: cover;background-image: url(<%= asset_path 'contactImg.png' %>)">
  <div id="main_content">
    <div id="page_wrapper">
      <div class="mySlides" >     
        <h1 style="color:white">Get in touch..</h1>
        <div id="content">
          <br/>
          <h2 style="color:white">Get help 24/7 on mail</h2>
          <h2 style="color:white">info@pinsightai.com</h2>
          <br/>
          <br/>
          <h2 style="color:white">Call us on:</h2>
          <h2 style="color:white">+905326368538</h2>
          <br/>
          <br/>
          <h2 style="color:white">Business Address - PinsightAi:</h2>
          <h2 style="color:white">İçerenköy Mah. Değirmenyolu Cad. 28A İçerenköy Ataşehir - İstanbul</h2>
          <br><br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>