<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<body style="background-size:120%; background-repeat:no-repeat; height: 100%;
 background-image: url(<%= asset_path 'login.png'%>)" >
 <div id="main_content">
  <div id="page_wrapper">

  <p>Hello <%= @resource.email %>!</p>

  <p>Someone has requested a link to change your password. You can do this through the link below.</p>
  
  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
  
  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
  
  

  </div>
</div>
</body>
</html> 